.signin-container {
    background: #fff;
}
.signin-icon > h4 {
    color: #000078;
}

.primary-btns {
    background: #000078 !important;
}

.white-btn {
    background: #fff !important;
    color: #354960;

}

.player{
    padding-top: 80px;
}
